@tailwind base;
@tailwind components;
@tailwind utilities;

[data-framer-theme="light"] {
	--color-bg-secondary: var(--framer-color-bg-tertiary);
	--color-bg-tertiary: var(--framer-color-bg-secondary);
	--color-segmented-control: #fff;
	--color-segmented-control-text: var(--color-accent);
	--color-divider-secondary: #e6e6e6;
}

[data-framer-theme="dark"] {
	--color-bg-secondary: #242424;
	--color-bg-tertiary: #2b2b2b;
	--color-segmented-control: #555;
	--color-segmented-control-text: var(--framer-color-text);
	--color-divider-secondary: #444;
}

select {
	@apply cursor-pointer pl-1.5 pr-5 bg-secondary;
}

input {
	@apply !pl-1.5 bg-secondary;
}

::-webkit-scrollbar {
	display: none;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.center {
	@apply items-center justify-center;
}

strong {
	@apply text-primary font-semibold;
}
